<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Restaurant App</h1>
            <strong>Feel Free to Login</strong>
            <hr>
          </div>
          <form>
          
            <div class="form-group">
              <div class="mb-3">
                <label for="exampleInputUserID">User ID</label>
                <input type="user id" formControlName="user id" maxlength="12" class="form-control"
                  id="exampleInputUserID" placeholder="  Enter your UserID">
              </div>
            </div>



            <div class="form-group">
              <div class="mb-3">
                <label for="examplePasscode">Password</label>
                <input type="passcode" formControlName="passcode" maxlength="10" class="form-control"
                  placeholder="passcode">
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <a style="color:rgb(245, 4, 4); margin-top: 10px;" routerLink="/signup">New User? Click here to Register</a>

        </div>
      </div>
    </div>
  </div>
</body>

</html>