<div class="must" style="background-color: black;">
 <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="text-center">
              <h1>Restaurant App</h1>
              <strong>Get Free Membership</strong>
              <hr>
            </div>
            <form>
              <div class="form-group">
                <div class="mb-3">
                  <label for="exampleName">Name</label>
                  <input type="name:" formControlName="name" maxlength="25" class="form-control"
                    placeholder="Pivaga Christina">
                </div>
              </div>
              <br>
              <br>
              

              <div class="form-group">
                <div class="mb-3">
                  <label for="exampleInputNumber">Mobile Number</label>
                  <input type="number:" formControlName="mobile" maxlength="20" class="form-control"
                    id="exampleInputNumber" placeholder="    Enter your Mobile Number:">
                </div>
              </div>
               <br>
               <br>

              <div class="form-group">
                <div class="mb-3">
                  <label for="exampleInputEmail">Email id</label>
                  <input type="email" formControlName="email" maxlength="25" class="form-control" id="exampleInputEmail"
                    placeholder="  Enter your Email:">
                </div>
              </div>

              <br>
              <br>

              <div class="form-group">
                <div class="mb-3">
                  <label for="examplePassword">Password</label>
                  <input type="password" formControlName="password" maxlength="20" class="form-control"
                    placeholder="  Enter your Password:">
                </div>
              </div>


              <button type="submit" class="btn btn-primary">Signup</button>
            </form>
            <br>
            <br>
            <br>

            
            <a href="../login/login.component.html"> Already registered?Click here to Login</a>

 
          </div>
        </div>
      </div>
    </div>
  </div>